/*
 Theme Name:   Jevelin Child
 Theme URI:    http://masseffectmedia.com/jevelin-child/
 Description:  JevelinChild Theme for TI Automotive
 Author:       Heather Tausch
 Author URI:   http://masseffectmedia.com
 Template:     jevelin
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:          green, light, white, gray, black, one-column, two-columns, right-sidebar, fluid-layout, responsive-layout, photoblogging, left-sidebar, translation-ready, custom-background, custom-colors, custom-menu, featured-images, full-width-template, post-formats, theme-options, threaded-comments
 Text Domain: jevelin-child
*/
/* =Theme customization starts here

-------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
.sh-portfolio-masonry2 .sh-portfolio-image {
  height: 295px;
}

.fw-page-builder-content ul {
  padding-left: 40px !important;
}

.woocommerce .related.products h2 {
  text-align: center;
}

a:hover {
  text-decoration: none !important;
}

.wrap-forms .fw-row sup:before {
  color: #ccc !important;
}

.post-meta {
  display: none;
}

.sh-portfolio-overlay4 .sh-overlay-item:nth-child(3), .category-news a.sh-overlay-item.sh-table-cell:nth-child(2) {
  display: none;
}

.sh-portfolio-overlay4 {
  cursor: pointer !important;
}

.sh-portfolio-wrapper {
  height: 100%;
  overflow: hidden;
}

.sh-overlay-style1 .sh-overlay-item:first-child .sh-overlay-item-container {
  right: 40% !important;
}

.blog-single .sh-blog-single-meta {
  border-bottom: none !important;
}

.sh-portfolio-overlay3-data ul {
  padding-left: 15px !important;
}

.sh-portfolio-columns5 .sh-portfolio-item {
  width: 20%;
}

.sh-portfolio-overlay3-title {
  font-size: 27px !important;
  line-height: 1.2em;
  margin-bottom: 15px !important;
}

.additional-information.sh-default-color, .sh-woo-post-content-container a.button.product_type_simple.ajax_add_to_cart {
  display: none !important;
}

.product_cat-featured-products .sh-woo-post-content-container {
  padding-top: 5px;
}

.single-product .sh-titlebar {
  display: none;
}

.woocommerce div.product div.summary {
  margin-bottom: 0;
}

#tab-description a {
  font-weight: bold;
}

.page-id-8442 .sh-standard-logo {
  display: none !important;
}

.page-id-8442 .sh-light-logo {
  display: block;
}

.page-id-8442 .sh-sticky-header-active .sh-light-logo {
  display: none !important;
}

.page-id-8442 .primary-desktop {
  position: absolute !important;
  width: 100%;
}

.page-id-8442 .sh-header {
  background-color: transparent !important;
}

.page-id-8442 .sh-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4) !important;
}

.page-id-8442 .sh-header .sh-nav > li.menu-item > a {
  color: #fff !important;
}

.sh-header.sh-sticky-header-active {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.sh-header.sh-sticky-header-active .sh-nav > li.menu-item > a {
  color: rgba(61, 61, 61, 0.69) !important;
}

.sh-partners-carousel .slick-slide a {
  display: inline-block;
  text-align: center;
  width: 100%;
  max-width: 100%;
  height: auto;
  opacity: .4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.4s;
  cursor: pointer;
}

.sh-partners-carousel .slick-slide a:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.sh-section {
  background-color: transparent !important;
}

.sh-table-cell-top.sh-accordion-icon-cell {
  padding-right: 0;
}

.fw-page-builder-content ul {
  padding-left: 0;
}

@media (max-width: 800px) {
  .sh-woocommerce-products .woocommerce ul.products li.product {
    width: 100% !important;
  }
}

a:active,
a:hover {
  outline: 0;
}

svg:not(:root) {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row-no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row-no-gutters [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hidden {
  display: none !important;
}

html, body {
  font-family: roboto;
  color: #212529;
  background: #ffffff;
  font-weight: 400;
  font-size: 16px !important;
  -webkit-font-feature-settings: "lnum";
          font-feature-settings: "lnum";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212529;
  font-family: roboto;
  font-weight: 400;
  word-wrap: break-word;
  line-height: 1.2;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  display: inline-block;
}

h1 em,
h2 em,
h3 em,
h4 em,
h5 em,
h6 em {
  display: block;
  font-weight: 300;
  font-size: 1.125rem;
  font-style: italic;
}

strong {
  font-weight: 900;
}

p {
  font-size: 1rem;
  line-height: 1.7;
  font-family: roboto;
}

h1 {
  font-size: 2.375rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3125rem;
}

h6 {
  font-size: 1.125rem;
}

.flex-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex {
  display: -ms-flexbox;
  display: flex;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-center {
  -ms-flex-align: center;
      align-items: center;
}

.justify-center {
  -ms-flex-align: center;
      align-items: center;
}

.meter-main-wrapper {
  position: relative;
  margin-left: 0;
  margin-right: 0;
}

.meter-main-wrapper .title-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 40px;
  position: absolute;
  width: 50%;
  right: 15px;
  left: auto;
  top: 0;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.meter-main-wrapper .title-wrapper h2 {
  margin-bottom: 0;
}

@media screen and (min-width: 992px) {
  .meter-main-wrapper .title-wrapper {
    -ms-flex-pack: justify;
        justify-content: space-between;
    right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .meter-main-wrapper .title-wrapper {
    min-width: 582px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1198px) {
  .meter-main-wrapper .title-wrapper {
    min-width: 490px;
  }
}

.meter-main-wrapper h2 {
  color: #8D8D8D;
  font-size: 1.25rem;
  font-weight: bold;
  display: none;
}

@media screen and (min-width: 992px) {
  .meter-main-wrapper h2 {
    display: block;
  }
}

.meter-main-wrapper .modal {
  position: absolute;
  z-index: 10000;
  top: 0;
  right: 0;
  left: auto;
  display: block;
  visibility: hidden;
  pointer-events: none;
  width: 100%;
  height: 100%;
  max-width: 374px;
  overflow: visible;
}

.meter-main-wrapper .modal.is-visible {
  visibility: visible;
  pointer-events: auto;
}

.meter-main-wrapper .modal-wrapper {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  width: 32em;
  max-width: calc(100vw - 25px);
  background-color: #fff;
  border-radius: 12px;
  border: 2px solid #003B5C;
}

@media screen and (min-width: 480px) {
  .meter-main-wrapper .modal-wrapper {
    max-width: 374px;
  }
}

.meter-main-wrapper .modal-transition {
  transition: all 0.3s 0.12s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0;
}

.meter-main-wrapper .modal.is-visible .modal-transition {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.meter-main-wrapper .modal-header,
.meter-main-wrapper .modal-content {
  padding: 0 30px;
  box-shadow: none;
  border: 0;
}

.meter-main-wrapper .modal-header {
  position: relative;
  padding-top: 50px;
}

.meter-main-wrapper .modal-body {
  padding-bottom: 30px;
}

.meter-main-wrapper .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background: none;
  border: 0;
}

.meter-main-wrapper .modal-heading {
  font-size: 1.5625rem;
  line-height: 1.16;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
  color: #003B5C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.meter-main-wrapper ol {
  padding-left: 18px;
}

.meter-main-wrapper ol li {
  color: #003B5C;
  font-weight: bold;
  margin-bottom: 10px;
}

.meter-main-wrapper ol li h4 {
  margin: 0;
}

.meter-main-wrapper h4 {
  font-size: 1rem;
  font-weight: bold;
  color: #003B5C;
  margin-top: 20px;
}

.meter-main-wrapper p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #003B5C;
}

.meter-main-wrapper .modal-content > *:first-child {
  margin-top: 0;
}

.meter-main-wrapper .modal-content > *:last-child {
  margin-bottom: 0;
}

.meter-main-wrapper .title-wrapper button {
  -webkit-appearance: none;
  border: 0;
  background: none;
  box-shadow: none;
  cursor: pointer;
}

.meter-main-wrapper .title-wrapper button:hover, .meter-main-wrapper .title-wrapper button:focus {
  outline: 0;
}

.meter-main-wrapper .title-wrapper button img {
  width: 40px;
}

@media screen and (min-width: 480px) {
  .meter-main-wrapper .title-wrapper button img {
    width: 30px;
  }
}

.listing-section .loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
}

.listing-section .loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99999999;
}

.listing-section .loader:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/loader.png);
  border-radius: 50%;
  background-size: cover;
  -webkit-animation: loader 2s linear infinite;
          animation: loader 2s linear infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

ul.tabs.wc-tabs {
  position: relative;
}

ul.tabs.wc-tabs:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #E9E9E9;
  bottom: 1px;
  left: 0;
}

* {
  margin: 0;
  box-sizing: border-box;
}

#main {
  background: #d7d7d7;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1440px) {
  .container {
    width: 100%;
    max-width: 1280px;
  }
}

@media screen and (max-width: 640px) {
  .woocommerce div.product .product_title {
    font-size: 45px;
  }
}

@media screen and (max-width: 640px) {
  .woocommerce .related.products ul.products h2 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 36px;
    text-align: center;
  }
}

@media screen and (min-width: 767px) and (max-width: 799px) {
  .section-landing .container {
    max-width: 700px !important;
  }
}

@media screen and (min-width: 991px) and (max-width: 1024px) {
  .section-landing .container {
    max-width: 950px !important;
  }
}

@media screen and (max-width: 640px) {
  .section-landing .container {
    width: 100%;
    max-width: 100% !important;
  }
}

.listing-section {
  background-color: #F5F5F5;
  padding: 30px 0px 35px 0px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .listing-section {
    padding: 0px 0px 90px 0px;
  }
}

.listing-section h2 {
  color: #003B5C;
  text-align: center;
  margin-bottom: 45px;
  padding-top: 0px;
  font-size: 2.25rem;
}

@media screen and (min-width: 768px) {
  .listing-section h2 {
    padding-top: 80px;
  }
}

.listing-section .list-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@media (max-width: 600px) {
  .listing-section .list-wrapper {
    margin: 0px;
  }
}

.listing-section .list-wrapper .list-item {
  width: calc(25% - 30px);
  margin: 15px;
  background-color: white;
  border: 1px solid #E9E9E9;
}

@media (max-width: 768px) {
  .listing-section .list-wrapper .list-item {
    width: calc(50% - 30px);
  }
}

@media (max-width: 600px) {
  .listing-section .list-wrapper .list-item {
    width: 100%;
    margin: 15px 0px;
  }
}

.listing-section .list-wrapper .list-item .img-wrapper {
  padding: 15px 20px;
}

.listing-section .list-wrapper .list-item .details-wrapper .item-code {
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  color: #003B5C;
  line-height: 1;
  padding: 12px 30px;
  text-transform: uppercase;
}

.listing-section .list-wrapper .list-item .details-wrapper .read-more {
  font-size: 0.75rem;
  font-weight: 900;
  color: #8D8D8D;
  display: block;
  line-height: 1;
  padding: 20px 30px;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid #E9E9E9;
  position: relative;
  transition: all 0.4s;
  position: relative;
}

.listing-section .list-wrapper .list-item .details-wrapper .read-more::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 1px;
  top: -1px;
  left: 0;
  transition: all 0.4s;
  background-color: #003B5C;
  opacity: 0.5;
}

a.button.product_type_simple {
  position: relative;
}

a.button.product_type_simple::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 1px;
  top: -1px;
  left: 0;
  transition: all 0.4s;
  background-color: #003B5C;
  opacity: 0.5;
}

li.product.type-product:hover a.button.product_type_simple::after, li.product.type-product:focus a.button.product_type_simple::after {
  width: 100%;
}

.filter-content {
  background: #8D8D8D;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .filter-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.filter-content .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .filter-content .container {
    -ms-flex-direction: row;
        flex-direction: row;
  }
}

.filter-content .container:before, .filter-content .container:after {
  display: none;
}

.filter-content .container label {
  margin-bottom: 0;
  font-weight: bold;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .filter-content .container label {
    margin-right: 20px;
  }
}

.filter-content .container .filter-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

@media screen and (min-width: 768px) {
  .filter-content .container .filter-list {
    -ms-flex-direction: row;
        flex-direction: row;
  }
}

.filter-content .container .filter-list .col {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .filter-content .container .filter-list .col {
    margin-right: 20px;
  }
}

.filter-content .container .filter-list .col span {
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.filter-content .container .filter-list .col label {
  margin-right: 3px;
  font-weight: 400;
}

.mainPoints path,
.midPoints path {
  transition: all ease 0.8s;
  transition-timing-function: cubic-bezier(0.65, 1.95, 0.03, 0.32);
}

.mainPoints path.active,
.midPoints path.active {
  fill: #003B5C;
}

.mainPoints path.current,
.midPoints path.current {
  fill: #c8d210;
}

svg {
  max-width: 100%;
}

/* vendors */
.btn {
  font-size: 0.625rem;
  padding: 15px 26px;
  min-width: 144px;
  line-height: 1.15;
  text-align: center;
  background: transparent;
  color: #212529;
  border-radius: 50px;
  letter-spacing: 2px;
  border: 1px solid #212529;
  text-transform: uppercase;
  z-index: 1;
  overflow: hidden;
  font-family: roboto;
  font-weight: bold;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 0.875rem;
    min-width: 180px;
  }
}

@media screen and (min-width: 1025px) {
  .btn {
    font-size: 1rem;
    min-width: 200px;
  }
}

.btn:hover, .btn:focus {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  background: #212529;
  outline: 0;
  border: 1px solid #212529;
}

.btn-primary {
  background: transparent;
}

.btn-secondary {
  background: #212529;
  color: #ffffff;
  border-radius: 50px;
  letter-spacing: 0.07em;
  border: 1px solid #212529;
}

.btn-secondary:hover, .btn-secondary:focus {
  color: #212529;
  background: transparent;
  outline: 0;
  border: 1px solid #212529;
}

.btn-main {
  padding: 8px 5px;
  border: 1px solid #C8D210;
  border-radius: 3px;
  background-color: #C8D210;
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
  width: 100%;
  max-width: 175px;
  height: 52px;
}

.btn-main.modify-search-btn {
  position: fixed;
  height: auto;
  right: 30px;
  top: 110px;
  z-index: 9;
  max-width: 80px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}

@media screen and (min-width: 1200px) {
  .btn-main.modify-search-btn {
    top: 250px;
  }
  .admin-bar .btn-main.modify-search-btn {
    top: 280px;
  }
}

.btn-main.modify-search-btn.show {
  opacity: 1;
  pointer-events: auto;
}

.btn-main:hover, .btn-main:focus {
  background-color: transparent;
  color: #C8D210;
}

.btn-main:hover.modify-search-btn, .btn-main:focus.modify-search-btn {
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .btn-main {
    position: inherit;
    top: 0px;
    right: 0px;
    margin: 0px auto 22px auto;
    padding: 10px 20px;
    display: block;
  }
  .btn-main.modify-search-btn {
    max-width: 175px;
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: block;
  }
}

.btn-main.back-to-search {
  margin-top: 60px;
  display: inline-block;
  line-height: 1;
  width: 100%;
}

@media screen and (min-width: 641px) {
  .btn-main.back-to-search {
    max-width: 210px;
    line-height: 35px;
  }
}

@media screen and (max-width: 640px) {
  .btn-main.back-to-search {
    max-width: 214px;
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.range-wrapper input[type=range] {
  width: calc(100% - 4.5vw);
  height: 20px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  -webkit-appearance: none;
  background: linear-gradient(90deg, #003b5c 0%, #003b5c 100%);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 5px;
  cursor: pointer;
  z-index: 9;
}

@media screen and (min-width: 641px) {
  .range-wrapper input[type=range] {
    margin-left: 7px;
  }
}

@media screen and (min-width: 992px) {
  .range-wrapper input[type=range] {
    margin-left: 10px;
    width: calc(100% - 3.125vw);
  }
}

@media screen and (min-width: 1200px) {
  .range-wrapper input[type=range] {
    width: 536px;
  }
}

.range-wrapper input[type=range].fuel-type-range {
  background-image: none;
}

.range-wrapper input[type=range].max-pressure-range {
  width: calc(100% - 21vw);
}

@media screen and (min-width: 992px) {
  .range-wrapper input[type=range].max-pressure-range {
    width: calc(100% - 11.327vw);
  }
}

@media screen and (min-width: 1200px) {
  .range-wrapper input[type=range].max-pressure-range {
    width: 430px;
  }
}

.range-wrapper img {
  pointer-events: none;
  z-index: 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: 0px;
  width: 15px;
  height: 34px;
  background: #C8D210;
  border: 2px solid #707070;
  border-radius: 8px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
}

input[type=range]::-moz-range-track {
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-range-thumb {
  width: 15px;
  height: 34px;
  background: #C8D210;
  border: 2px solid #707070;
  border-radius: 8px;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  width: 15px;
  height: 34px;
  background: #C8D210;
  border: 2px solid #707070;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}

input[type=range]::-ms-tooltip {
  background: transparent;
  display: none;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0;
  color: transparent;
  width: 100%;
  cursor: pointer;
  box-shadow: none;
}

input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0;
}

input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0;
}

input[type=range]:focus::-ms-fill-lower {
  background: transparent;
}

input[type=range]:focus::-ms-fill-upper {
  background: transparent;
}

/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align: auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

.range-wrapper label {
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  color: #003B5C;
  margin-bottom: 15px;
}

.range-inner {
  position: relative;
  margin-bottom: 50px;
  margin-top: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.range-inner .range-counter {
  position: absolute;
  top: -48px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: #707070;
}

@media screen and (min-width: 992px) {
  .range-inner {
    margin-top: 0;
  }
  .range-inner .range-counter {
    display: none;
  }
}

.range-inner:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 20px;
  background: #003B5C;
  top: 50%;
  left: 1px;
  z-index: 9;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 992px) {
  .range-inner:before {
    width: 20px;
    left: 3px;
  }
}

@media screen and (min-width: 1025px) {
  .range-inner {
    min-width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .range-inner {
    min-width: 576px;
  }
  .range-inner .fuel-type {
    width: 340px;
    min-width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
}

.range-inner svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.ruler-value {
  bottom: -15px;
  left: 50%;
  position: absolute;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  color: #8D8D8D;
  font-size: 12px;
  display: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 1025px) {
  .ruler-value {
    display: -ms-flexbox;
    display: flex;
  }
}

.ruler-value.active span {
  color: #E9E9E9;
}

.ruler-value span {
  transition: all 0.4s;
}

.ruler-value span.avl {
  color: #8D8D8D;
}

.ruler-value span.avl.active {
  color: #003B5C;
  font-weight: bold;
}

.action-panel {
  margin-top: 60px;
  margin-bottom: 50px;
}

.action-panel .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
}

.action-panel .row:before, .action-panel .row:after {
  display: none;
}

.action-panel .row.btn-wrapper {
  margin-top: 40px;
  -ms-flex-pack: center;
      justify-content: center;
}

.action-panel .total,
.action-panel .total span {
  font-size: 1rem;
  font-weight: bold;
  color: #8D8D8D;
}

.action-panel a {
  font-size: 1rem;
  font-weight: bold;
}

.action-panel a, .action-panel a:hover, .action-panel a:focus {
  color: #C8D210;
  text-decoration: none;
}

.range-toggle input[type=range] {
  width: 100%;
}

.range-toggle .range-inner:before {
  display: none;
}

.toggle-wrapper {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
}

@media screen and (min-width: 641px) {
  .toggle-wrapper {
    width: 340px;
  }
}

.toggle-wrapper input[type=range] {
  margin: 0 auto;
}

.toggle-wrapper .ruler-value {
  padding: 0;
  bottom: 0px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  pointer-events: none;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% + 10px);
}

@media screen and (min-width: 641px) {
  .toggle-wrapper .ruler-value {
    bottom: 5px;
  }
}

.toggle-wrapper .ruler-value span {
  font-size: 0.75rem;
  font-weight: 400;
  color: #8D8D8D;
}

.toggle-wrapper.min .ruler-value span:first-child {
  font-weight: bold;
  color: #003B5C;
}

.toggle-wrapper.max .ruler-value span:last-child {
  font-weight: bold;
  color: #003B5C;
}

.fuel-meter #gas,
.fuel-meter #flex {
  fill: #8D8D8D;
  font-weight: 400;
}

.fuel-meter.min #gas {
  fill: #C8D210;
  font-weight: bold;
}

.fuel-meter.max #flex {
  fill: #C8D210;
  font-weight: bold;
}

.toggle-wrapper-inner {
  position: relative;
  width: 190px;
  height: 23px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
}

@media screen and (min-width: 641px) {
  .toggle-wrapper-inner {
    width: 240px;
  }
}

.toggle-wrapper-inner input {
  z-index: 1;
}

.toggle-wrapper-inner:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: #003B5C;
}

.min .toggle-wrapper-inner:before {
  opacity: 1;
  border-radius: 24px 0 0 24px;
}

.max .toggle-wrapper-inner:before {
  opacity: 1;
  left: auto;
  right: 0;
  border-radius: 0 24px 24px 0;
}

.toggle-wrapper-inner:after {
  content: '';
  background: transparent;
  position: absolute;
  width: calc(100% - 10px);
  height: 100%;
  border-radius: 24px;
  border: 2px solid #707070;
  z-index: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.range-inner--max-pressure .ruler-value {
  padding: 0px 90px;
}

.range-inner--max-pressure .ruler-value span:nth-child(2) {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.range-inner--max-pressure .ruler-value span:nth-child(3) {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.range-inner--flow-rate .ruler-value span:nth-child(n+5) {
  -webkit-transform: translateX(11px);
          transform: translateX(11px);
}

.range-inner--flow-rate .ruler-value span:nth-child(-n+5) {
  -webkit-transform: translateX(11px);
          transform: translateX(11px);
}

.range-inner--flow-rate .ruler-value span:first-child {
  -webkit-transform: translateX(7px);
          transform: translateX(7px);
}

.range-inner--flow-rate .ruler-value span:nth-child(2) {
  -webkit-transform: translateX(9px);
          transform: translateX(9px);
}

.range-inner--flow-rate .ruler-value span:nth-child(3) {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.range-inner--flow-rate .ruler-value span:nth-child(9) {
  -webkit-transform: translateX(14px);
          transform: translateX(14px);
}

.range-inner--flow-rate .ruler-value span:nth-child(10) {
  -webkit-transform: translateX(13px);
          transform: translateX(13px);
}

.range-inner--flow-rate .ruler-value span:nth-child(11) {
  -webkit-transform: translateX(14px);
          transform: translateX(14px);
}

.range-inner--flow-rate .ruler-value span:last-child {
  -webkit-transform: translateX(14px);
          transform: translateX(14px);
}

.range-inner--horsepower .ruler-value span:first-child {
  -webkit-transform: translateX(7px);
          transform: translateX(7px);
}

.range-inner--horsepower .ruler-value span:nth-child(2) {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.range-inner--horsepower .ruler-value span:nth-child(3) {
  -webkit-transform: translateX(12px);
          transform: translateX(12px);
}

.range-inner--horsepower .ruler-value span:nth-child(4) {
  -webkit-transform: translateX(13px);
          transform: translateX(13px);
}

.range-inner--horsepower .ruler-value span:nth-child(5) {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.range-inner--horsepower .ruler-value span:nth-child(6) {
  -webkit-transform: translateX(18px);
          transform: translateX(18px);
}

.range-inner--horsepower .ruler-value span:nth-child(7) {
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
}

.range-inner--horsepower .ruler-value span:nth-child(8) {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}

.range-inner--horsepower .ruler-value span:nth-child(9) {
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
}

.range-inner--horsepower .ruler-value span:nth-child(10) {
  -webkit-transform: translateX(27px);
          transform: translateX(27px);
}

.range-inner--horsepower .ruler-value span:nth-child(11) {
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
}

.range-inner--horsepower .ruler-value span:nth-child(12) {
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
}

.range-inner--horsepower .ruler-value span:nth-child(13) {
  -webkit-transform: translateX(18px);
          transform: translateX(18px);
}

.range-inner--horsepower .ruler-value span:nth-child(14) {
  -webkit-transform: translateX(13px);
          transform: translateX(13px);
}

.header {
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 60px;
}

@media screen and (min-width: 641px) {
  .header {
    margin-bottom: 60px;
  }
}

.header h1 {
  font-size: 2.1875rem;
  font-weight: bold;
  color: #003B5C;
  text-transform: uppercase;
  line-height: 1.16;
  margin-bottom: 15px;
}

@media screen and (min-width: 480px) {
  .header h1 {
    font-size: 2.8125rem;
  }
}

@media screen and (min-width: 768px) {
  .header h1 {
    font-size: 3.125rem;
  }
}

.header h2 {
  font-size: 1rem;
  color: #C8D210;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.18;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .header h2 {
    font-size: 1.75rem;
  }
}

.header p {
  font-size: 0.875rem;
  line-height: 1.125;
  color: #8D8D8D;
}

@media screen and (min-width: 768px) {
  .header p {
    font-size: 1rem;
  }
}

svg {
  width: 100%;
  height: 100%;
}

.meter-main {
  width: 514px;
  height: 514px;
  position: relative;
}

.meter-sub {
  width: 202px;
  height: 202px;
  position: relative;
}

.section-landing .meter-main-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
}

.section-landing .meter-main-wrapper:before, .section-landing .meter-main-wrapper:after {
  display: none !important;
}

@media screen and (min-width: 992px) {
  .section-landing .meter-main-wrapper {
    -ms-flex-direction: row;
        flex-direction: row;
  }
}

@media screen and (max-width: 991px) {
  .section-landing .meter-main-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 479px) {
  .section-landing .meter-main-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.ie .meter-main-wrapper {
  overflow-x: hidden;
}

.range-wrapper {
  padding-top: 0;
  margin-top: 25px;
}

@media screen and (min-width: 480px) {
  .range-wrapper {
    margin-top: -15%;
  }
}

@media screen and (min-width: 641px) {
  .range-wrapper {
    margin-top: 0;
    padding-top: 55px;
  }
}

@media screen and (max-width: 359px) {
  .range-wrapper {
    margin-top: 25px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1198px) {
  .range-wrapper {
    min-width: 490px;
  }
}

.range-wrapper .range {
  margin-bottom: 30px;
}

@media (max-width: 500px) {
  .range-wrapper .range {
    margin-bottom: 24px;
  }
  .range-wrapper .range .range-inner {
    margin-bottom: 0px;
  }
}

.range-wrapper label span {
  font-weight: 400;
}

.meter-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

@media screen and (min-width: 320px) {
  .meter-wrapper {
    margin-top: -160%;
  }
}

@media screen and (min-width: 340px) {
  .meter-wrapper {
    margin-top: -110%;
  }
}

@media screen and (min-width: 375px) {
  .meter-wrapper {
    margin-top: -105%;
  }
}

@media screen and (min-width: 400px) {
  .meter-wrapper {
    margin-top: -90%;
  }
}

@media screen and (min-width: 480px) {
  .meter-wrapper {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin-top: 0;
  }
}

@media screen and (min-width: 641px) {
  .meter-wrapper {
    margin-left: 0px;
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (min-width: 992px) {
  .meter-wrapper {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
}

@media screen and (min-width: 1200px) {
  .meter-wrapper {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
}

@media only screen and (min-width: 1440px) {
  .meter-wrapper {
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (max-width: 479px) {
  .meter-wrapper {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
  .meter-wrapper .meter-sub-wrapper {
    -webkit-transform: scale(0.96535);
            transform: scale(0.96535);
    -ms-flex-pack: center;
        justify-content: center;
  }
  .meter-wrapper .horsepower-meter {
    -webkit-transform: scale(0.42801);
            transform: scale(0.42801);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
}

@media screen and (max-width: 359px) {
  .meter-wrapper {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

.meter-sub-wrapper {
  width: 444px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: -23%;
}

.arrow {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
  transition-timing-function: cubic-bezier(0.65, 1.95, 0.03, 0.32);
}

.meter-sub-wrapper .arrow {
  -webkit-transform-origin: 127.25% 127.25%;
          transform-origin: 127.25% 127.25%;
}

.guage-wrapper-hidden {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ie .guage-wrapper-hidden {
  display: block;
}

.guage-wrapper-hidden .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border: 2px solid #8D8D8D;
  border-radius: 50%;
  z-index: 99;
  background: white;
}

.guage-wrapper-hidden .pin-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.guage-wrapper-hidden .pin-wrapper .arrow {
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  left: -18%;
  top: 50%;
  position: absolute;
}

.guage-wrapper-hidden .counter-ie {
  font-size: 5rem;
  color: #003B5C;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
}

.guage-wrapper-hidden .fuel-type {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  z-index: 9999;
  margin-top: 95px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.guage-wrapper-hidden .fuel-type-inner {
  border-radius: 9px;
  background: #ffffff;
  border: 2px solid #8D8D8D;
  padding: 6px 10px;
  max-width: 112px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.guage-wrapper-hidden .fuel-type h4 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #003B5C;
}

.guage-wrapper-hidden .fuel-type .wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.guage-wrapper-hidden .fuel-type label {
  font-size: 1rem;
  font-weight: bold;
  color: #003B5C;
}

.guage-wrapper-hidden .fuel-type span {
  font-size: 1rem;
  margin-left: 2px;
  margin-right: 2px;
}

.guage-wrapper-hidden .fuel-type.max .flex {
  font-weight: bold;
  color: #C8D210;
}

.guage-wrapper-hidden .fuel-type.min .gas {
  font-weight: bold;
  color: #C8D210;
}

.meter-sub-wrapper .guage-wrapper-hidden .counter-ie {
  font-size: 2.8125rem;
  top: 44%;
}

.meter-sub-wrapper .guage-wrapper-hidden .pin-wrapper {
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
}

.meter-sub-wrapper .guage-wrapper-hidden .circle {
  width: 56%;
  height: 56%;
}

.meter-sub-wrapper .guage-wrapper-hidden .fuel-type {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 25px;
}

.meter-sub-wrapper .guage-wrapper-hidden .fuel-type h4 {
  font-size: 0.8125rem;
}

.meter-sub-wrapper .guage-wrapper-hidden .fuel-type span {
  font-size: 0.75rem;
}

.meter-sub-wrapper .guage-wrapper-hidden .pin-wrapper .arrow {
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  left: -22%;
  top: 50%;
}

.ie path.arrow,
.ie tspan.counter,
.ie .fuel-meter-wrapper,
.ie .meter-title {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
